body{
                margin:0;
                padding:0;
                font-family: "microsoft yahei";
                font-size: 14px;
                width: 980px;;
}
ul,li{
                margin:0;
                padding:0;
                list-style: none;
}
.clearfix{
                _height: 1%;
                overflow: auto;
}


div,ul{
                width: 50%;
                height:100px;
                margin:20px auto;
                background: #c3c3c3;
}
div input{
                margin: 20px auto;
}
#text-in{
                padding-left:10px;
                margin-left: 6px;
}
#left-out{
                margin-left: 20px ;
}

li{
                width:10%;
                height: 50px;;
                float: left;
                background: red;
                margin-right: 2%;
                border-radius: 10px;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
}
